body {
    background: lightblue;
    font-family: 'Noto Serif TC', serif;
    
}

h1,h2 {
    font-family: 'Unlock', cursive;
}

#work-experience {
    background: navy;
    color: white;
}

#Education {
    background: gold;
}

footer {
    background: blue;
}

