body {
    background: lightblue;
    font-family: 'Noto Serif TC', serif;
    margin: 0;
}

h1,h2 {
    font-family: 'Unlock', cursive;
}

.profile-img{
    border-radius: 50%;
}

.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 10px;
}


.float-left{
    float:left;
    width:30%;
    min-height: 175px;
}

.right-of-float-left{
    width:70%;
    min-height: 175px;
     float:left;
}



#Education {
    background: gold;
}

#work-experience {
    background: navy;
    color: white;
}
footer, header{
    background: turquoise;
    text-align: center;
}

footer .footer-links
{

    padding:10px;
}

footer a {color: white;
padding:10px;}

h2 ~ p {
    margin: 0;
}

nav {
    padding: 10px;
    text-align: center;
    display: inline-block;
width: 100%;
    position: fixed;
    background: white;
}

nav a {

    padding: 50px 10px;
}

#downloadPDF {

    opacity: 0.1;
width: 10px;
    height: 10px;
        position: relative;
    margin: 0 0;
background: red;
}

#downloadPDF:hover {
      opacity: 1;
}